In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
# from sklearn.line.linear_model import LinearRegression

In [2]:
pos_sal=pd.read_csv('Position_Salaries.csv')

In [3]:
pos_sal

            Position  Level   Salary
0   Business Analyst      1    45000
1  Junior Consultant      2    50000
2  Senior Consultant      3    60000
3            Manager      4    80000
4    Country Manager      5   110000
5     Region Manager      6   150000
6            Partner      7   200000
7     Senior Partner      8   300000
8            C-level      9   500000
9                CEO     10  1000000

In [4]:
pos_sal.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Position  10 non-null     object
 1   Level     10 non-null     int64
 2   Salary    10 non-null     int64
dtypes: int64(2), object(1)
memory usage: 264.0+ bytes

In [5]:
x=pos_sal.iloc[:,:-1].values

In [8]:
y=pos_sal.iloc[:,-1].values
y.shape

(10,)

In [12]:
from sklearn.model_selection import train_test_split

In [9]:
from sklearn.preprocessing import LabelEncoder

In [10]:
from sklearn.linear_model import LinearRegression

In [11]:
model =LinearRegression()
model.fit(x_train,y_train)
print(model.coef_)
print(model.intercept_)

NameError: name 'x_train' is not defined