In [53]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [54]:
df= pd.read_csv('50_Startups.csv')

df

    R&D Spend  Administration  Marketing Spend       State     Profit
0   165349.20       136897.80        471784.10    New York  192261.83
1   162597.70       151377.59        443898.53  California  191792.06
2   153441.51       101145.55        407934.54     Florida  191050.39
3   144372.41       118671.85        383199.62    New York  182901.99
4   142107.34        91391.77        366168.42     Florida  166187.94
5   131876.90        99814.71        362861.36    New York  156991.12
6   134615.46       147198.87        127716.82  California  156122.51
7   130298.13       145530.06        323876.68     Florida  155752.60
8   120542.52       148718.95        311613.29    New York  152211.77
9   123334.88       108679.17        304981.62  California  149759.96
10  101913.08       110594.11        229160.95     Florida  146121.95
11  100671.96        91790.61        249744.55  California  144259.40
12   93863.75       127320.38        249839.44     Florida  141585.52
13   91992.39       135495.07        252664.93  California  134307.35
14  119943.24       156547.42        256512.92     Florida  132602.65
15  114523.61       122616.84        261776.23    New York  129917.04
16   78013.11       121597.55        264346.06  California  126992.93
17   94657.16       145077.58        282574.31    New York  125370.37
18   91749.16       114175.79        294919.57     Florida  124266.90
19   86419.70       153514.11             0.00    New York  122776.86
20   76253.86       113867.30        298664.47  California  118474.03
21   78389.47       153773.43        299737.29    New York  111313.02
22   73994.56       122782.75        303319.26     Florida  110352.25
23   67532.53       105751.03        304768.73     Florida  108733.99
24   77044.01        99281.34        140574.81    New York  108552.04
25   64664.71       139553.16        137962.62  California  107404.34
26   75328.87       144135.98        134050.07     Florida  105733.54
27   72107.60       127864.55        353183.81    New York  105008.31
28   66051.52       182645.56        118148.20     Florida  103282.38
29   65605.48       153032.06        107138.38    New York  101004.64
30   61994.48       115641.28         91131.24     Florida   99937.59
31   61136.38       152701.92         88218.23    New York   97483.56
32   63408.86       129219.61         46085.25  California   97427.84
33   55493.95       103057.49        214634.81     Florida   96778.92
34   46426.07       157693.92        210797.67  California   96712.80
35   46014.02        85047.44        205517.64    New York   96479.51
36   28663.76       127056.21        201126.82     Florida   90708.19
37   44069.95        51283.14        197029.42  California   89949.14
38   20229.59        65947.93        185265.10    New York   81229.06
39   38558.51        82982.09        174999.30  California   81005.76
40   28754.33       118546.05        172795.67  California   78239.91
41   27892.92        84710.77        164470.71     Florida   77798.83
42   23640.93        96189.63        148001.11  California   71498.49
43   15505.73       127382.30         35534.17    New York   69758.98
44   22177.74       154806.14         28334.72  California   65200.33
45    1000.23       124153.04          1903.93    New York   64926.08
46    1315.46       115816.21        297114.46     Florida   49490.75
47       0.00       135426.92             0.00  California   42559.73
48     542.05        51743.15             0.00    New York   35673.41
49       0.00       116983.80         45173.06  California   14681.40

In [55]:
df.isna().sum()

R&D Spend          0
Administration     0
Marketing Spend    0
State              0
Profit             0
dtype: int64

In [56]:
df.head()

   R&D Spend  Administration  Marketing Spend       State     Profit
0  165349.20       136897.80        471784.10    New York  192261.83
1  162597.70       151377.59        443898.53  California  191792.06
2  153441.51       101145.55        407934.54     Florida  191050.39
3  144372.41       118671.85        383199.62    New York  182901.99
4  142107.34        91391.77        366168.42     Florida  166187.94

In [57]:
X=df.iloc[:,:-1]
Y=df.iloc[:,-1]

In [58]:
print(X.shape)
print(Y.shape)

(50, 4)
(50,)

In [59]:
type(X)

pandas.core.frame.DataFrame

In [60]:
X.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 4 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   R&D Spend        50 non-null     float64
 1   Administration   50 non-null     float64
 2   Marketing Spend  50 non-null     float64
 3   State            50 non-null     object
dtypes: float64(3), object(1)
memory usage: 1.7+ KB

# preprocessing 
## label encoding

In [61]:
from sklearn.preprocessing import LabelEncoder

In [62]:
le= LabelEncoder()
X.iloc[:,3]=le.fit_transform(X.iloc[:,3])

In [63]:
X

    R&D Spend  Administration  Marketing Spend  State
0   165349.20       136897.80        471784.10      2
1   162597.70       151377.59        443898.53      0
2   153441.51       101145.55        407934.54      1
3   144372.41       118671.85        383199.62      2
4   142107.34        91391.77        366168.42      1
5   131876.90        99814.71        362861.36      2
6   134615.46       147198.87        127716.82      0
7   130298.13       145530.06        323876.68      1
8   120542.52       148718.95        311613.29      2
9   123334.88       108679.17        304981.62      0
10  101913.08       110594.11        229160.95      1
11  100671.96        91790.61        249744.55      0
12   93863.75       127320.38        249839.44      1
13   91992.39       135495.07        252664.93      0
14  119943.24       156547.42        256512.92      1
15  114523.61       122616.84        261776.23      2
16   78013.11       121597.55        264346.06      0
17   94657.16       145077.58        282574.31      2
18   91749.16       114175.79        294919.57      1
19   86419.70       153514.11             0.00      2
20   76253.86       113867.30        298664.47      0
21   78389.47       153773.43        299737.29      2
22   73994.56       122782.75        303319.26      1
23   67532.53       105751.03        304768.73      1
24   77044.01        99281.34        140574.81      2
25   64664.71       139553.16        137962.62      0
26   75328.87       144135.98        134050.07      1
27   72107.60       127864.55        353183.81      2
28   66051.52       182645.56        118148.20      1
29   65605.48       153032.06        107138.38      2
30   61994.48       115641.28         91131.24      1
31   61136.38       152701.92         88218.23      2
32   63408.86       129219.61         46085.25      0
33   55493.95       103057.49        214634.81      1
34   46426.07       157693.92        210797.67      0
35   46014.02        85047.44        205517.64      2
36   28663.76       127056.21        201126.82      1
37   44069.95        51283.14        197029.42      0
38   20229.59        65947.93        185265.10      2
39   38558.51        82982.09        174999.30      0
40   28754.33       118546.05        172795.67      0
41   27892.92        84710.77        164470.71      1
42   23640.93        96189.63        148001.11      0
43   15505.73       127382.30         35534.17      2
44   22177.74       154806.14         28334.72      0
45    1000.23       124153.04          1903.93      2
46    1315.46       115816.21        297114.46      1
47       0.00       135426.92             0.00      0
48     542.05        51743.15             0.00      2
49       0.00       116983.80         45173.06      0

In [64]:
# State is nominal it doesnt make sence for ordinal
# for nominal apply one hot encoding

# split the dataset

In [68]:
from sklearn.model_selection import train_test_split

In [69]:
(X_train,X_test,Y_train,Y_test)=train_test_split(X,Y,test_size=0.2,random_state=0)

In [38]:
# scale the data

In [39]:
# from sklearn.preprocessing import StandardScaler

In [45]:
# sc=StandardScaler()
# X_train=sc.fit_transform(X_train)
# X_test=sc.fit_transform(X_test)

In [47]:
# print(X)
# print(X_train)

[[-7.17740563e-01 -6.85994341e-01  1.39326109e+00  2.01641149e+00
   5.60752915e-01  2.15394309e+00]
 [ 1.39326109e+00 -6.85994341e-01 -7.17740563e-01  1.95586034e+00
   1.08280658e+00  1.92360040e+00]
 [-7.17740563e-01  1.45773797e+00 -7.17740563e-01  1.75436374e+00
  -7.28257028e-01  1.62652767e+00]
 [-7.17740563e-01 -6.85994341e-01  1.39326109e+00  1.55478369e+00
  -9.63646307e-02  1.42221024e+00]
 [-7.17740563e-01  1.45773797e+00 -7.17740563e-01  1.50493720e+00
  -1.07991935e+00  1.28152771e+00]
 [-7.17740563e-01 -6.85994341e-01  1.39326109e+00  1.27980001e+00
  -7.76239071e-01  1.25421046e+00]
 [ 1.39326109e+00 -6.85994341e-01 -7.17740563e-01  1.34006641e+00
   9.32147208e-01 -6.88149930e-01]
 [-7.17740563e-01  1.45773797e+00 -7.17740563e-01  1.24505666e+00
   8.71980011e-01  9.32185978e-01]
 [-7.17740563e-01 -6.85994341e-01  1.39326109e+00  1.03036886e+00
   9.86952101e-01  8.30886909e-01]
 [ 1.39326109e+00 -6.85994341e-01 -7.17740563e-01  1.09181921e+00
  -4.56640246e-01  7.76107440e-01]
 [-7.17740563e-01  1.45773797e+00 -7.17740563e-01  6.20398248e-01
  -3.87599089e-01  1.49807267e-01]
 [ 1.39326109e+00 -6.85994341e-01 -7.17740563e-01  5.93085418e-01
  -1.06553960e+00  3.19833623e-01]
 [-7.17740563e-01  1.45773797e+00 -7.17740563e-01  4.43259872e-01
   2.15449064e-01  3.20617441e-01]
 [ 1.39326109e+00 -6.85994341e-01 -7.17740563e-01  4.02077603e-01
   5.10178953e-01  3.43956788e-01]
 [-7.17740563e-01  1.45773797e+00 -7.17740563e-01  1.01718075e+00
   1.26919939e+00  3.75742273e-01]
 [-7.17740563e-01 -6.85994341e-01  1.39326109e+00  8.97913123e-01
   4.58678535e-02  4.19218702e-01]
 [ 1.39326109e+00 -6.85994341e-01 -7.17740563e-01  9.44411957e-02
   9.11841968e-03  4.40446224e-01]
 [-7.17740563e-01 -6.85994341e-01  1.39326109e+00  4.60720127e-01
   8.55666318e-01  5.91016724e-01]
 [-7.17740563e-01  1.45773797e+00 -7.17740563e-01  3.96724938e-01
  -2.58465367e-01  6.92992062e-01]
 [-7.17740563e-01 -6.85994341e-01  1.39326109e+00  2.79441650e-01
   1.15983657e+00 -1.74312698e+00]
 [ 1.39326109e+00 -6.85994341e-01 -7.17740563e-01  5.57260867e-02
  -2.69587651e-01  7.23925995e-01]
 [-7.17740563e-01 -6.85994341e-01  1.39326109e+00  1.02723599e-01
   1.16918609e+00  7.32787791e-01]
 [-7.17740563e-01  1.45773797e+00 -7.17740563e-01  6.00657792e-03
   5.18495648e-02  7.62375876e-01]
 [-7.17740563e-01  1.45773797e+00 -7.17740563e-01 -1.36200724e-01
  -5.62211268e-01  7.74348908e-01]
 [-7.17740563e-01 -6.85994341e-01  1.39326109e+00  7.31146008e-02
  -7.95469167e-01 -5.81939297e-01]
 [ 1.39326109e+00 -6.85994341e-01 -7.17740563e-01 -1.99311688e-01
   6.56489139e-01 -6.03516725e-01]
 [-7.17740563e-01  1.45773797e+00 -7.17740563e-01  3.53702028e-02
   8.21717916e-01 -6.35835495e-01]
 [-7.17740563e-01 -6.85994341e-01  1.39326109e+00 -3.55189938e-02
   2.35068543e-01  1.17427116e+00]
 [-7.17740563e-01  1.45773797e+00 -7.17740563e-01 -1.68792717e-01
   2.21014050e+00 -7.67189437e-01]
 [-7.17740563e-01 -6.85994341e-01  1.39326109e+00 -1.78608540e-01
   1.14245677e+00 -8.58133663e-01]
 [-7.17740563e-01  1.45773797e+00 -7.17740563e-01 -2.58074369e-01
  -2.05628659e-01 -9.90357166e-01]
 [-7.17740563e-01 -6.85994341e-01  1.39326109e+00 -2.76958231e-01
   1.13055391e+00 -1.01441945e+00]
 [ 1.39326109e+00 -6.85994341e-01 -7.17740563e-01 -2.26948675e-01
   2.83923813e-01 -1.36244978e+00]
 [-7.17740563e-01  1.45773797e+00 -7.17740563e-01 -4.01128925e-01
  -6.59324033e-01  2.98172434e-02]
 [ 1.39326109e+00 -6.85994341e-01 -7.17740563e-01 -6.00682122e-01
   1.31053525e+00 -1.87861793e-03]
 [-7.17740563e-01 -6.85994341e-01  1.39326109e+00 -6.09749941e-01
  -1.30865753e+00 -4.54931587e-02]
 [-7.17740563e-01  1.45773797e+00 -7.17740563e-01 -9.91570153e-01
   2.05924691e-01 -8.17625734e-02]
 [ 1.39326109e+00 -6.85994341e-01 -7.17740563e-01 -6.52532310e-01
  -2.52599402e+00 -1.15608256e-01]
 [-7.17740563e-01 -6.85994341e-01  1.39326109e+00 -1.17717755e+00
  -1.99727037e+00 -2.12784866e-01]
 [ 1.39326109e+00 -6.85994341e-01 -7.17740563e-01 -7.73820359e-01
  -1.38312156e+00 -2.97583276e-01]
 [ 1.39326109e+00 -6.85994341e-01 -7.17740563e-01 -9.89577015e-01
  -1.00900218e-01 -3.15785883e-01]
 [-7.17740563e-01  1.45773797e+00 -7.17740563e-01 -1.00853372e+00
  -1.32079581e+00 -3.84552407e-01]
 [ 1.39326109e+00 -6.85994341e-01 -7.17740563e-01 -1.10210556e+00
  -9.06937535e-01 -5.20595959e-01]
 [-7.17740563e-01 -6.85994341e-01  1.39326109e+00 -1.28113364e+00
   2.17681524e-01 -1.44960468e+00]
 [ 1.39326109e+00 -6.85994341e-01 -7.17740563e-01 -1.13430539e+00
   1.20641936e+00 -1.50907418e+00]
 [-7.17740563e-01 -6.85994341e-01  1.39326109e+00 -1.60035036e+00
   1.01253936e-01 -1.72739998e+00]
 [-7.17740563e-01  1.45773797e+00 -7.17740563e-01 -1.59341322e+00
  -1.99321741e-01  7.11122474e-01]
 [ 1.39326109e+00 -6.85994341e-01 -7.17740563e-01 -1.62236202e+00
   5.07721876e-01 -1.74312698e+00]
 [-7.17740563e-01 -6.85994341e-01  1.39326109e+00 -1.61043334e+00
  -2.50940884e+00 -1.74312698e+00]
 [ 1.39326109e+00 -6.85994341e-01 -7.17740563e-01 -1.62236202e+00
  -1.57225506e-01 -1.36998473e+00]]
[[-0.81649658  1.73205081 -0.73379939 -0.35006454 -0.78547109  0.1011968 ]
 [-0.81649658 -0.57735027  1.36277029 -0.55530319 -1.48117426  0.02734979]
 [-0.81649658  1.73205081 -0.73379939  0.07935762  0.80133381 -0.55152132]
 [ 1.22474487 -0.57735027 -0.73379939 -0.54638238  1.32505817  0.07011684]
 [-0.81649658  1.73205081 -0.73379939  0.43485371 -0.35598663  0.75148516]
 [-0.81649658  1.73205081 -0.73379939  1.26943143  0.85518519  0.98603118]
 [-0.81649658  1.73205081 -0.73379939  1.04525007  1.28077047  0.4404    ]
 [-0.81649658 -0.57735027  1.36277029 -1.529843    0.02942065 -1.6218751 ]
 [-0.81649658 -0.57735027  1.36277029 -1.53976251 -2.76767264 -1.6372965 ]
 [-0.81649658 -0.57735027  1.36277029 -0.13115188  1.14497701 -0.76949991]
 [-0.81649658 -0.57735027  1.36277029  0.92791613 -0.02992062  0.48303162]
 [-0.81649658  1.73205081 -0.73379939 -0.20932933 -0.2993768  -0.89915412]
 [ 1.22474487 -0.57735027 -0.73379939 -0.17870828  0.2251352  -1.26401642]
 [ 1.22474487 -0.57735027 -0.73379939  0.1374709  -0.06929437  0.50384666]
 [ 1.22474487 -0.57735027 -0.73379939 -1.03967624 -1.05076697 -0.43852106]
 [ 1.22474487 -0.57735027 -0.73379939  0.09938348 -0.36790317  0.781818  ]
 [-0.81649658 -0.57735027  1.36277029 -1.21580174  0.15416247 -1.34947778]
 [-0.81649658 -0.57735027  1.36277029  1.05822437  0.97836757  0.88670051]
 [ 1.22474487 -0.57735027 -0.73379939  0.4401196   0.46754749  0.40923215]
 [ 1.22474487 -0.57735027 -0.73379939 -0.15151937  0.62430586 -0.51983056]
 [-0.81649658 -0.57735027  1.36277029  1.30361149 -0.91073517  1.30179825]
 [-0.81649658 -0.57735027  1.36277029  0.49781135  0.83770651  0.65149135]
 [ 1.22474487 -0.57735027 -0.73379939 -0.92897212 -0.18716957 -0.23769075]
 [ 1.22474487 -0.57735027 -0.73379939 -1.55149779 -0.24751712 -1.27140496]
 [ 1.22474487 -0.57735027 -0.73379939  1.96871085  1.08106713  1.95818096]
 [-0.81649658  1.73205081 -0.73379939  0.48063418  0.15177059  0.38634632]
 [ 1.22474487 -0.57735027 -0.73379939 -0.59739193 -2.78544219 -0.04140287]
 [-0.81649658 -0.57735027  1.36277029  0.11649007 -0.93133851 -0.49867241]
 [ 1.22474487 -0.57735027 -0.73379939  1.36290079  0.91964899 -0.60281921]
 [-0.81649658  1.73205081 -0.73379939 -0.08943162 -0.68142339  0.83126112]
 [-0.81649658  1.73205081 -0.73379939 -0.93093295  0.14156607 -0.00821485]
 [-0.81649658 -0.57735027  1.36277029  0.14561902  1.1736151   0.7905076 ]
 [-0.81649658 -0.57735027  1.36277029  0.31947194  1.16359793 -1.6372965 ]
 [ 1.22474487 -0.57735027 -0.73379939  1.11867842 -0.56831342  0.83298548]
 [ 1.22474487 -0.57735027 -0.73379939 -0.71671353 -1.56095586 -0.21984184]
 [-0.81649658  1.73205081 -0.73379939 -1.52301833 -0.29261949  0.76926327]
 [-0.81649658 -0.57735027  1.36277029  1.57413686 -0.18231009  1.46653355]
 [-0.81649658 -0.57735027  1.36277029  2.02828029  0.52173299  2.18404776]
 [ 1.22474487 -0.57735027 -0.73379939 -1.55149779  0.46491495 -1.6372965 ]
 [ 1.22474487 -0.57735027 -0.73379939 -1.07135402  1.21350725 -1.40779169]]

# fit the model in linear regression

In [70]:
from sklearn.linear_model import LinearRegression

In [78]:

model=LinearRegression()
model=model.fit(X_train,Y_train)

# testing

In [80]:
Y_pred=model.predict(X_test)

In [81]:
Y_pred

array([103015.20159797, 132582.27760815, 132447.73845174,  71976.09851258,
       178537.48221055, 116161.24230166,  67851.69209676,  98791.73374688,
       113969.43533013, 167921.0656955 ])

In [52]:
Y_test

28    103282.38
11    144259.40
10    146121.95
41     77798.83
2     191050.39
27    105008.31
38     81229.06
31     97483.56
22    110352.25
4     166187.94
Name: Profit, dtype: float64

In [73]:
# difference between prediction and origional is regional

# Accuracy 92 %

In [74]:
from sklearn.metrics import r2_score

In [83]:
r2_score(Y_pred,Y_test)

0.9293749209317753