In [2]:
 from sklearn.feature_extraction.text import CountVectorizer,TfidfVectorizer
import pandas as pd

In [3]:
corpus = ['John has a dog.',
"The dog John has is lively.",
"John's dog ball plays with ball."]

In [4]:
# stopwords
s={'is','a','the'}

In [5]:
# Convert a collection of text documents to a matrix of token counts
# document term matrix
cv=CountVectorizer(stop_words=s)
X=cv.fit_transform(corpus)
X.toarray()

array([[0, 1, 1, 1, 0, 0, 0],
       [0, 1, 1, 1, 1, 0, 0],
       [2, 1, 0, 1, 0, 1, 1]], dtype=int64)

In [6]:
cv.get_feature_names()

['ball', 'dog', 'has', 'john', 'lively', 'plays', 'with']

In [7]:
df=pd.DataFrame(data=X.toarray(),columns=cv.get_feature_names())

In [8]:
df

   ball  dog  has  john  lively  plays  with
0     0    1    1     1       0      0     0
1     0    1    1     1       1      0     0
2     2    1    0     1       0      1     1

In [9]:
cv=CountVectorizer(stop_words=s,ngram_range=(3,3))
X=cv.fit_transform(corpus)
X.toarray()
# no of words together callde ngrams

array([[0, 0, 0, 0, 1, 0, 0],
       [0, 0, 1, 0, 0, 1, 0],
       [1, 1, 0, 1, 0, 0, 1]], dtype=int64)

In [10]:
cv.get_feature_names()

['ball plays with',
 'dog ball plays',
 'dog john has',
 'john dog ball',
 'john has dog',
 'john has lively',
 'plays with ball']

In [11]:
df=pd.DataFrame(data=X.toarray(),columns=cv.get_feature_names())
df

,ball plays with,dog ball plays,dog john has,john dog ball,john has dog,john has lively,plays with ball
0,0,0,0,0,1,0,0
1,0,0,1,0,0,1,0
2,1,1,0,1,0,0,1

In [12]:
#Convert a collection of raw documents to a matrix of TF-IDF features.
tfidf=TfidfVectorizer()
tfidf_X=tfidf.fit_transform(corpus)
df_tfidf=pd.DataFrame(data=tfidf_X.toarray(),columns=tfidf.get_feature_names())
df_tfidf
# importance of word=tf*idf

# this is doc matrix

,ball,dog,has,is,john,lively,plays,the,with
0,0.000000,0.522842,0.673255,0.000000,0.522842,0.000000,0.000000,0.000000,0.000000
1,0.000000,0.285617,0.367784,0.483591,0.285617,0.483591,0.000000,0.483591,0.000000
2,0.772803,0.228215,0.000000,0.000000,0.228215,0.000000,0.386401,0.000000,0.386401

In [13]:
df=pd.read_csv('SMSSpamCollection',sep='\t',names=['Status','Message'])

In [14]:
df

     Status                                            Message
0       ham  Go until jurong point, crazy.. Available only ...
1       ham                      Ok lar... Joking wif u oni...
2      spam  Free entry in 2 a wkly comp to win FA Cup fina...
3       ham  U dun say so early hor... U c already then say...
4       ham  Nah I don't think he goes to usf, he lives aro...
...     ...                                                ...
5567   spam  This is the 2nd time we have tried 2 contact u...
5568    ham               Will ü b going to esplanade fr home?
5569    ham  Pity, * was in mood for that. So...any other s...
5570    ham  The guy did some bitching but I acted like i'd...
5571    ham                         Rofl. Its true to its name

[5572 rows x 2 columns]

In [15]:
X = df['Message']
y = df['Status']
print(X.shape, y.shape)

from wordcloud import STOPWORDS

new_words = ['aren', 'couldn', 'didn', 'doesn', 'don', 'hadn', 'hasn', 'haven', 'isn', 'let', 'll', 'mustn', 're', 'shan', 'shouldn', 've', 'wasn', 'weren', 'won', 'wouldn']
STOPWORDS = set(list(STOPWORDS) + new_words)

cv = CountVectorizer(stop_words=STOPWORDS)

conv_X = cv.fit_transform(X)
print(conv_X.shape)

(5572,) (5572,)
(5572, 8564)

In [16]:
from sklearn.model_selection import train_test_split

In [17]:
X_train,X_test,y_train,y_test=train_test_split(conv_X,
                                               y ,
                                               test_size= 0.2)
# print(X_train.shape,X_test.shape,y_train.shape,y_test.shapeX)

In [18]:
from sklearn.naive_bayes import MultinomialNB

In [19]:
model= MultinomialNB()
model.fit(X_train,y_train)
model.score(X_test,y_test)

0.989237668161435

In [20]:
test = '''Hello, we are glad to inform you that you have won the state 
lottery of cash $1 million. Pease come collect the prize.'''
b = cv.transform([test])
b.shape

(1, 8564)

In [21]:
model.predict(b)

array(['spam'], dtype='<U4')