In [7]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, MinMaxScaler

In [8]:
df= pd.read_excel("Social_Network_Ads_new.xlsx")
df

     Age  Salary  Purchased
0     19   19000          0
1     35   20000          0
2     26   43000          0
3     47   25000          1
4     27   57000          0
..   ...     ...        ...
279   46   41000          1
280   51   23000          1
281   50   20000          1
282   36   33000          0
283   49   36000          1

[284 rows x 3 columns]

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 284 entries, 0 to 283
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Age        284 non-null    int64
 1   Salary     284 non-null    int64
 2   Purchased  284 non-null    int64
dtypes: int64(3)
memory usage: 6.7 KB

In [13]:
X=df.iloc[:,[0,1]]
y=df.iloc[:,[2]]
print(X.shape,y.shape)

(284, 2) (284, 1)

In [14]:
sc=StandardScaler()
X_sc=sc.fit_transform(X)

In [18]:
X_train, X_test, y_train, y_test = train_test_split(X_sc, y, 
                                                    test_size = 0.20, 
                                                    random_state = 456)
print(X_train.shape, X_test.shape, y_train.shape, y_test.shape)

(227, 2) (57, 2) (227, 1) (57, 1)

In [20]:
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier, \
AdaBoostClassifier,\
GradientBoostingClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn.neighbors import KNeighborsClassifier

In [22]:
from sklearn.ensemble import StackingClassifier
# input shape for will be (total_rows,No_of_classifier)
# (227,7)

In [23]:
estimator_list=[('DT',DecisionTreeClassifier(criterion='entropy') ),
               ('GB',GradientBoostingClassifier(learning_rate=0.5)),
               ('KNN',KNeighborsClassifier())]

In [26]:
model=StackingClassifier(estimators=estimator_list)
# pipeline
model.fit(X_train, y_train.values.ravel()).score(X_test,y_test)
# ravel used to remoce warning

0.8947368421052632

In [29]:
# input shape for will be (total_rows,No_of_classifier)
# (227,7)
# stacking of all classifier
all_estimator_list=[('DT',DecisionTreeClassifier(criterion='entropy') ),
               ('GB',GradientBoostingClassifier(learning_rate=0.5)),
               ('KNN',KNeighborsClassifier()),
                ('Logi',LogisticRegression()),
                ('RF',RandomForestClassifier(n_estimators=9)),
                ('Ada',AdaBoostClassifier()),
                ('guessian',GaussianNB())                
               ]

In [30]:
model=StackingClassifier(estimators=all_estimator_list)
# pipeline
model.fit(X_train, y_train.values.ravel()).score(X_test,y_test)

0.8771929824561403